/* ==========================================================================
   Main Styles
   ========================================================================== */

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  
  font-family: 'Lato-Regular', sans-serif;
  font-size: 13px;
  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale; 
  -webkit-font-smoothing: antialiased;
  
  color: #444A59;
  background-color: #f8f8f8;
}

* {
  box-sizing: border-box;
}

h1, p, figure {
  margin: 0;
  font-weight: normal;
}

ul, li {
  margin: 0;
  list-style-type: none; 
  padding-left: 0;
}

.container-div {
  width: 90%;
  padding: 40px 40px;
  margin: 0 auto;
  display: inline-block;
  margin-left: 5%;
}

/* ==========================================================================
   Gnome List
   ========================================================================== */

@media only screen and (max-width: 768px) {
  .gnome-list__item {
    padding: 10px;
    flex: 1  45%;
    max-width: 45%;
  }
  html{
    width: 100%;
  }
}

@media only screen and (max-width: 812px) {
  .gnome-list__item {
    padding: 10px;
    flex: 2  90%;
    max-width: 90%;
  }
  .page-title {
    display: none;
    width: 90%;
    font-size: 20px;
  }
  .header {
    display: flex;
    justify-content: center;
  }
  html{
    width: 100%;
  }
  body {
    width: 100%;
  }
  .page-title {
    display: none;
  }
}

/* TODO create media query for portrait mobile */

@media only screen and (max-width: 320px) {
  .gnome-list__item {
    padding: 10px;
    flex: 1  90%;
    max-width: 100%;
  }
  .page-title {
    display: none;
    width: 90%;
    font-size: 20px;
  }
  .header {
    display: flex;
    justify-content: center;
  }
  html{
    width: 100%;
  }
  body {
    width: 100%;
  }
  .page-title {
    display: none;
  }
  .container-div {
    margin-left: none;
  }
}

.gnome-list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: none !important;
}

.gnome-list__item {
  padding: 10px;
  flex: 1  33.3333%;
  max-width: 33.3333%;
}

/* ==========================================================================
   Gnome Image
   ========================================================================== */

.gnome__image-wrapper {
  padding: 20px;
  position: relative;
}

.gnome__image {
  width: 250px;
  height: 220px;
}

/* ==========================================================================
   Personal Details
   ========================================================================== */

.personal__details {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding: 10px 20px 20px;
  text-align: left;
  width: 250px;
}

/* ==========================================================================
   Gnome Titles
   ========================================================================== */

.name {
  padding-bottom: 10px; 
  font-family: 'Lato-Bold', sans-serif;
  font-size: 14px;
  letter-spacing: 1.37px;
  text-transform: uppercase;
}

.gnome__subtitle {
  padding-bottom: 10px; 
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.43px;
  color: #808080;
}
